@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

.pomodoro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-width: 1200px;
}
.pomodoro-header {
  text-align: center;
  margin-top: 2rem;
}
.pomodoro-content {
  display: flex;
  gap: 10rem;
  margin-top: 3rem;
}
.focus-timer, .break-timer {
  max-width: 40rem;
}
.focus-timer h1, .break-timer h1{
  font-size: 1.5em;
  text-align: center;

}
.focus-timer h2, .break-timer h2{
  text-align: center;
  font-family: "Orbitron", sans-serif;
  font-size: 2em;
}

.focus-btns, .break-btns{
  gap: 10px;
  display: flex;
  margin: 0;
}
.btn {
  margin-top: 2rem;
  flex-grow: 1;
  max-width: 10rem;

}
.reset-btn {
  margin-top: 2rem;
}
.cycle {
  margin-top: 2rem;
}

.progress-bar {
  max-width: 40rem;
}
