.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background-color: #000000;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    transition: left 0.3s ease-in-out;
}

.sidebar.open {
    left: 0;
}

.sidebar.minimized {
    left: 0;
    width: 60px;
}
.sidebar-toggle-button {
    position: absolute;
    top: 20px;
    right: -60px;
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
    color: #000;
    z-index: 1001;
    transition: right 0.3s ease-in-out;
}

.sidebar.open .sidebar-toggle-button,
.sidebar.minimized .sidebar-toggle-button {
    right: -15px;
    color: #fff;
}

.sidebar-expanded-content {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

.sidebar.open .sidebar-expanded-content {
    opacity: 1;
}

.sidebar:not(.open) .sidebar-expanded-content {
    display: none;
}

.sidebar-minimized-content {
    display: none;
    padding-top: 60px;
    text-align: center;
    margin-top: 10rem;
}

.sidebar.minimized .sidebar-minimized-content {
    display: block;
}

.sidebar-minimized-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-minimized-content li {
    margin: 20px 0;
}

.sidebar-minimized-content a {
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
}

.sidebar-content {
    overflow: hidden;
    height: 100%;
}
.sidebar-logo {
    display: flex;
    align-items: center;
    padding: 20px;
    color: white;
    margin-top: -63px;
}

.sidebar-logo img {
    margin-right: 10px;
}

.sidebar-nav{
    margin-top: 70px;
}

.sidebar-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-nav li {
    margin: 10px 0;
}

.sidebar-nav-item {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

.sidebar-nav-item:hover {
    color: #ccc;
    text-decoration: underline;
}

.sidebar-nav h1{
    font-size: 1.2rem;
    margin-left: 25px;
}

.sidebar-nav-item-logout {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    margin-top: 18rem;
}

.sidebar-nav-item-logout:hover {
    color: #ccc;
    text-decoration: underline;
}
